.course-tab-desktop-wrap{
    display: none;
}
.course-tab-mobile-wrap {
    margin-bottom: 6% ;
}
.single-category-container div, .single-level-container div{
    margin-bottom: 2%;
}
.single-category-container div, .single-level-container div, .single-alphabetical-container div{
    max-width: 300px;
}
.single-category-container .gray {
    color : #ccc;
    cursor: pointer;
}
.category-name, .level-name, .alphabetical-name {
    padding-left: 2%
}
.category-name {
    color          : #000;
    cursor         : pointer;
    font-size      : 1.2em;
    text-decoration: none;
}

@media only screen and (min-width: 360px) {
    .course-tab-mobile-wrap {
        display: none;
    }
    .course-tab-desktop-wrap {
        display    : block;
        margin-bottom: 3% ;
    }
}

@media only screen and (min-width: 768px) {
    .single-category-container {
        min-height: 170px;
        margin-bottom: 2%;
    }
}
