.jumbotron {
    height         : 500px;
    text-align     : right;
    background-size: cover;
    background     : #ddd url('') center center;
}

.jumbotron .container {
    width        : auto;
    padding      : 3%;
    color        : #f8f8f8;
    text-align   : left;
    margin-right : 10%;
    border-radius: 5px;
    display      : inline-block;
    font-weight  : 700 !important;
    font-family  : 'Libre Baskerville', serif;
    text-shadow  : 2px 2px 2px rgba(50, 50, 50, .8);
}

.jumbotron .container h1,
.jumbotron .container h2 {
    font-weight: 700 !important;
}
.general-info,
.founder-container{
    text-align: justify;
}

.founder-video-container{
    max-width: 95%;
    height: 250px;
    margin-bottom: 15px;
}
.founder-container {
    margin-left: 5px;
}

.general-info-img  img{
    max-width: 100%;
}