.chevron {
    width   :30%;
    top     :40%;
    position:absolute;
}
.chevron-left {
    left: 5%;
}
.chevron-right {
    right: 5%;
}
.carousel {
    max-width: 75%;
    height   : auto;
}
.page-header-smaller{
    font-weight  : 700;
    font-size    : 1.2em;
    margin       : 1% 15% 1% 15%;
    border-bottom: 1px solid #ddd;
}

@media only screen and (min-width: 768px) {
    .page-header-smaller{
        font-size  : 2em;
        font-weight: 400;
    }
}
