td {
    padding: 5px 10px 5px 0px;
    vertical-align: 	  top;
}
td:first-child {
    font-weight: 700;
}
.instructor-table{
	margin-bottom: 6%;
}

.instructor-image {
	margin-bottom: 1% ;
}
.instructor-image img{
	width    : 100%;
	max-width: 215px;
	min-width: 165px;
	background-color  : rgb(68,68,68); /* Needed for IEs */
	-moz-box-shadow   : 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow        : 5px 5px 5px rgba(68,68,68,0.6);
}
.instructor-bio,
.instructor-prizes,
.instructor-qualifications{
	margin-bottom: 3% ;
	text-align: justify;
}

.page-header h1,
#instructor-container {
	display: none;
}
.breadcrumb li:last-child {
    opacity: 0;
}