.course-tab-wrap {
    margin-bottom: 3% ;
}
.single-category-container div, .single-level-container div, .single-alphabetical-container div{
    margin-bottom: 2%;
}

.single-category-container div, .single-level-container div, .single-alphabetical-container div{
    max-width: 300px;
}

.single-category-container .gray {
    color: #ccc;
    cursor: pointer;
}

.category-name {
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .single-category-container {
        margin-bottom: 2%;
        min-height: 170px;
    }
}
