.jumbotron {
    height: 	470px;
    text-align: right;
    background-size: cover;
    background: #ddd url('http://hypermediagym.altervista.org/resources/images/index-header2.jpg') center center;
}

.jumbotron .container {
    width: auto;
    padding: 3%;
    color:   #f8f8f8;
    text-align: left;
    margin-right: 	 10%;
    border-radius:	 5px;
    display: inline-block;
    font-weight: 700 !important;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, .8);
}

.jumbotron .container h1,
.jumbotron .container h2 {
    font-weight: 700 !important;
}
