.iframe-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.iframe-wrapper  iframe {
	position: relative;
	width: 100%;
	height: 100%;
}
.form-inline .form-group {
	display: block;
	width: 100%;
}
/* desktop friendly UI */
@media (min-width: 992px) {
	.iframe-wrapper  {
		position: relative;
		padding-bottom: 65.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}
	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}